@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*, :after, :before {
  box-sizing: border-box; }

.detail, .title {
  margin-bottom: 15px; }

.zlw-layout-center {
  margin: 0 auto; }

.zlw-layout-lg {
  max-width: 1024px; }

.zlw-lg-2-3 {
  width: 65%; }

.zlw-lg-1-3 {
  width: 32%; }

.zlw-lg-3-3 {
  width: 100%; }

.zlw-lg-1-2 {
  width: 49%; }

.zlw-lg-2-2 {
  width: 100%; }

@media (max-width: 768px) {
  .zlw-sm-1-2 {
    width: 49%; }
  .zlw-sm-2-2 {
    width: 100%; } }

.head .title, .head .floater {
  display: inline-block; }

@media (min-width: 769px) {
  .floater {
    float: right; } }

.floater .price-area {
  margin-bottom: 15px; }

.floater .status {
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 700; }

.floater .fa-circle {
  color: #db0000; }

.floater .price {
  font-size: 28px;
  font-weight: 700; }

.floater .zestimate {
  font-size: 12px; }
  .floater .zestimate .tooltip {
    border-bottom: 1px dashed #cccccc; }

.calculator .cal-head {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5; }

.calculator .estimate {
  display: inline-block;
  margin-right: 5px;
  min-width: 105px;
  font-size: 20px;
  font-size: calc( 1rem + 1/3rem);
  font-weight: 400; }

.calculator .launch {
  display: inline-block;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #444;
  padding: 3px 5px 1px;
  background: #fff; }
  .calculator .launch .arrow {
    position: relative;
    display: inline-block;
    width: 13px; }
  .calculator .launch .arrow::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 3px;
    display: block;
    width: 5px;
    height: 5px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 6px solid #000; }

.calculator .cal-btn {
  color: #0074e4;
  margin-top: 15px; }
  .calculator .cal-btn a {
    text-decoration: none;
    border-color: #0074e4;
    border: 1px solid;
    border-radius: 5px;
    padding: 8px 10px;
    font-weight: bold;
    font-size: 15px; }
  .calculator .cal-btn .fa-dollar-sign {
    color: #fff;
    position: relative;
    z-index: 1;
    margin-right: 7px;
    margin-left: 5px;
    font-size: 10px; }
    .calculator .cal-btn .fa-dollar-sign:after {
      content: '';
      position: absolute;
      display: block;
      background: #0067cb;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      top: -3px;
      left: -6px;
      z-index: -1; }

.main-contents {
  margin-bottom: 30px; }

.feature-module {
  display: inline-block; }
  .feature-module .module-img {
    float: left;
    margin-right: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center; }
  .feature-module .module-text {
    float: left; }
  .feature-module .detail-module-title {
    color: #999999; }

.details .feature-module {
  margin-bottom: 10px; }

.details .label {
  margin-bottom: 5px; }

.detail-title {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px; }

.follow-details {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #cccccc; }

.launch {
  position: relative; }

.popup-cal {
  position: absolute;
  background: #fff;
  right: 0;
  min-width: 300px;
  border: 1px solid #aaa;
  box-shadow: 0 0 2px #444;
  z-index: 900; }
  .popup-cal .cal-title {
    text-align: center;
    padding-top: 20px; }
  .popup-cal .cal-body {
    background-color: #cdf2db;
    padding: 20px 0;
    text-align: center; }
    .popup-cal .cal-body .banner {
      padding-bottom: 10px; }
    .popup-cal .cal-body .cal-payment {
      font-size: 25px; }
    .popup-cal .cal-body .sub-text {
      color: #999;
      font-size: 12px;
      margin-top: 5px; }
  .popup-cal .cal-form {
    padding: 20px; }
    .popup-cal .cal-form .acol, .popup-cal .cal-form .bcol {
      display: inline-block;
      width: 40%;
      margin-right: 6%; }
      .popup-cal .cal-form .acol .form-field, .popup-cal .cal-form .bcol .form-field {
        margin-bottom: 15px; }
      .popup-cal .cal-form .acol label, .popup-cal .cal-form .bcol label {
        font-size: 14px;
        display: block;
        padding-bottom: 3px; }
      .popup-cal .cal-form .acol .cal-each-input, .popup-cal .cal-form .bcol .cal-each-input {
        position: relative; }
        .popup-cal .cal-form .acol .cal-each-input input, .popup-cal .cal-form .bcol .cal-each-input input {
          width: 10%;
          padding: 4px 6px 2px;
          border: 1px solid #aaa;
          background-color: #fff;
          box-shadow: inset 0 2px 2px #fafafa, 0 0 0 #62aef7;
          line-height: 1.5em;
          height: 30px; }
        .popup-cal .cal-form .acol .cal-each-input input.left-type, .popup-cal .cal-form .bcol .cal-each-input input.left-type {
          padding-left: 22px; }
        .popup-cal .cal-form .acol .cal-each-input input.right-type, .popup-cal .cal-form .bcol .cal-each-input input.right-type {
          padding-right: 22px; }
        .popup-cal .cal-form .acol .cal-each-input .text-left, .popup-cal .cal-form .bcol .cal-each-input .text-left, .popup-cal .cal-form .acol .cal-each-input .text-right, .popup-cal .cal-form .bcol .cal-each-input .text-right {
          position: absolute; }
    .popup-cal .cal-form .bcol {
      width: 54%;
      margin-right: 0; }
      .popup-cal .cal-form .bcol .split div {
        display: inline-block; }
      .popup-cal .cal-form .bcol .split div:nth-of-type(1) {
        width: 65%; }
      .popup-cal .cal-form .bcol .split div:nth-of-type(2) {
        width: 35%; }

main {
  font-family: "Open Sans", sans-serif; }

.title {
  font-size: 28px;
  font-weight: 700; }

.sub-title {
  font-size: 20px; }

.body {
  font-size: 15px;
  line-height: 1.5; }

.label {
  font-weight: 700; }
